# Default: domestic mirrors for users in China.
BASE_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/library/ubuntu:20.04
UBUNTU_APT_MIRROR=http://mirrors.tuna.tsinghua.edu.cn/ubuntu
ROS_APT_MIRROR=http://mirrors.tuna.tsinghua.edu.cn/ros/ubuntu
ROS_KEY_URL=https://cdn.jsdelivr.net/gh/ros/rosdistro@master/ros.asc
ROSDEP_SOURCE_URL=https://mirrors.tuna.tsinghua.edu.cn/rosdistro/rosdep/sources.list.d/20-default.list
ROSDISTRO_MIRROR=https://mirrors.tuna.tsinghua.edu.cn/rosdistro
INSTALL_GTSAM_FROM_SOURCE=0
GTSAM_VERSION=4.1.1
DOCKER_PRIVILEGED=false

# Alternative USTC mirrors:
# UBUNTU_APT_MIRROR=http://mirrors.ustc.edu.cn/ubuntu
# ROS_APT_MIRROR=http://mirrors.ustc.edu.cn/ros/ubuntu
# ROSDEP_SOURCE_URL=https://mirrors.ustc.edu.cn/rosdistro/rosdep/sources.list.d/20-default.list
# ROSDISTRO_MIRROR=https://mirrors.ustc.edu.cn/rosdistro

# Official upstream fallback:
# BASE_IMAGE=ubuntu:20.04
# UBUNTU_APT_MIRROR=http://archive.ubuntu.com/ubuntu
# ROS_APT_MIRROR=http://packages.ros.org/ros/ubuntu
# ROS_KEY_URL=https://raw.githubusercontent.com/ros/rosdistro/master/ros.asc
# ROSDEP_SOURCE_URL=https://raw.githubusercontent.com/ros/rosdistro/master/rosdep/sources.list.d/20-default.list
# ROSDISTRO_MIRROR=https://raw.githubusercontent.com/ros/rosdistro/master
